* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


.titulo {
    width: 280px;
    min-width: 70px;
    height: 26px;
}
.texto {
    width: 280px;
    min-width: 70px;
    min-height: 200px;
}
.button {
    width: 280px;
    min-width: 70px;
    height: 26px;
}